<!DOCTYPE html>
<html ng-app="SendLater" ng-csp>
    <head>
        <link rel="stylesheet" href="css/popup.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_Components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
        

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_Components/moment/moment.js"></script>
        <script type="text/javascript" src="bower_Components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_Components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_Components/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="bower_Components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

        <script src="js/app/app.js"></script>
        <script src="js/app/email.js"></script>
    </head>
    <body id="popup">
        <header>
            <h1>Send Later</h1>
        </header>

        <div ng-controller="EmailController" >
        <div class="alert alert-success" ng-show="showSuccessAlert"> <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">×</button> <strong>{{successTextAlert}}</strong></div>

        <div class="alert alert-danger" ng-show="showFailureAlert"> <button type="button" class="close" data-ng-click="switchBool('showFailureAlert')">×</button> <strong>{{failureTextAlert}}</strong></div>
            <form name="emailForm" class="css-form" novalidate>
                <div class="form-group">
                <label for="FromEmail">From:</label>
                <input type="email" class="form-control" ng-model="email.from" name="FromEmail" required="">
                <div ng-show="emailForm.$submitted || emailForm.FromEmail.$touched">
                    <span ng-show="emailForm.FromEmail.$error.required">Please enter 'from' email.</span>
                    <span ng-show="emailForm.FromEmail.$error.email">This is not a valid email.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="ToEmail">To:</label>
                <input type="email" class="form-control" ng-model="email.to" name="ToEmail" required>
                <div ng-show="emailForm.$submitted || emailForm.ToEmail.$touched">
                    <span ng-show="emailForm.ToEmail.$error.required">Please enter 'to' email.</span>
                    <span ng-show="emailForm.ToEmail.$error.email">This is not a valid email.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="Subject">Subject:</label>
                <input type="text" class="form-control" ng-model="email.subject" required name="Subject">
                <div ng-show="emailForm.$submitted || emailForm.Subject.$touched">
                    <span ng-show="emailForm.Subject.$error.required">Please enter a subject.</span>
                </div> 
            </div>
            <div class="form-group">
                <label for="Message">Message:</label>
                <textarea class="form-control" ng-model="email.message" required></textarea>
            </div>
            <div class="form-group">
                <label for="PickTime">Pick time:</label>
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                        <input type="text" style="width:60%" class="input-large" data-ng-model="email.sendAt"><span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="email.sendAt"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <input type="submit" ng-click="sendEmail()" class="btn btn-default" value="Send"></input>
            <input type="button" ng-click="resetForm(); formClose();" class="btn btn-default" value="Cancel"></input>
            </form>
        </div>
    </body>
</html>