<!DOCTYPE html>
<html ng-app="SendLater" ng-csp>
    <head>
        <link rel="stylesheet" href="css/popup.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_Components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
        

        <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower_Components/moment/moment.js"></script>
        <script type="text/javascript" src="bower_Components/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="bower_Components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_Components/angular-cookies/angular-cookies.js"></script>
        <script type="text/javascript" src="bower_Components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>

        <script src="js/app/app.js"></script>
        <script src="js/app/email.js"></script>
    </head>
    <body id="popup">
        <header>
            <h1>Send Later</h1>
        </header>

        <div ng-controller="EmailController">
            <div class="form-group">
                <label for="FromEmail">From:</label>
                <input type="email" class="form-control" ng-model="email.from">
            </div>
            <div class="form-group">
                <label for="ToEmail">To:</label>
                <input type="email" class="form-control" ng-model="email.to">
            </div>
            <div class="form-group">
                <label for="Subject">Subject:</label>
                <input type="text" class="form-control" ng-model="email.sendAt">
            </div>
            <div class="form-group">
                <label for="Message">Message:</label>
                <textarea class="form-control" ng-model="email.message"></textarea>
            </div>
            <div class="form-group">
                <label for="PickTime">Pick time:</label>
                <div class="dropdown">
                    <a class="dropdown-toggle my-toggle-select" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="">
                        <input type="text" style="width:60%" class="input-large" data-ng-model="email.sendAt"><span class="add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                        
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="email.sendAt"
                                        data-datetimepicker-config="{ dropdownSelector: '.my-toggle-select' }"></datetimepicker>
                    </ul>
                </div>
            </div>
            <button ng-click="sendEmail()" class="btn btn-default">Send</button>
            <button ng-click="resetForm(); formClose();" class="btn btn-default">Cancel</button>
        </div>
    </body>
</html>